<% @skip_footer = true %>



<div class="container">

      <div class="profil text-center">
        <div class="main-bis">
          <div class="main-content">

            <% if  @user.photo.file.nil?%>
                   <%= cl_image_tag("tneymtpekih2wlj1dwdd.jpg",width: 150, height: 150, crop: :thumb, gravity: :face) %>
                  <% else %>
                   <%= cl_image_tag @user.photo, width: 150, height: 150, crop: :thumb, gravity: :face %>
                  <% end %>
                 <p><%= link_to 'Update my profile', edit_profile_path %></p>

            <h2><i class="fa fa-user" aria-hidden="true"></i>
               : <%= @user.first_name %></<h2></h2>>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> : <%= @user.email %></p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>
               : <%= @user.phone_number %></p>
            <%= link_to 'Update my profile', edit_profile_path, class: "btn draw-border-red"   %>
            <br>
            <br>
            <p>
              <% if @input.nil? %>
                  <% if @company.nil? %>
                    <p></p>
                  <% else %>
                    <p><%= link_to 'Add inputs', new_company_input_path(@company) %></p>
                  <% end %>
              <% else %>
                 <p><%= link_to 'Update my inputs', edit_company_input_path(@company, @input) %></p>
              <% end %>
            </p>

          </div>
        </div>

        <div class="stat-bis">
          <div class="stat-content">
            <h3>1000 $</h3>

            <p>Week budget</p>

          </div>
        </div>
        <div class="stat-bis">
          <div class="stat-content">
            <h3>234 $</h3>
            <p>tomorrow</p>
          </div>
        </div>
        <div class="stat-bis">
          <div class="stat-content">
            <h3><i class="fa fa-lg fa-calendar" aria-hidden="true"></i></h3>
            <p>Calendar</p>

          </div>
        </div>
        <div class="description-bis">
          <div class="description-content">
            <% if @company.nil? %>
              <h3 class="text-center"> <%= link_to new_company_path(@user) do %><i class="fa fa-plus fa-2x" aria-hidden="true" style="color: #55A1F4"></i>
              <% end %>
              </h3>
              <p>Add a company</p>
            <% else %>
              <h2> <i class="fa fa-building-o" aria-hidden="true"></i>
                : <%= @company.name %></h2>
              <p class="text-center"><i class="fa fa-map-marker" aria-hidden="true"></i>
                : <%= @company.address %></p>
              <p class="text-center"><i class="fa fa-briefcase" aria-hidden="true"></i>
                : <%= @company.economic_sector.name %></p>
              <p><%= link_to 'Update my company', edit_company_path(@user), class: "btn draw-border-red"  %></p>
              <% if  @company.photo.file.nil? %>
              <%= cl_image_tag("qhvyfzlzwg9mbi8i1det.jpg",
                    width: 150, height: 150, crop: :fill) %>
              <% else %>
                 <%= cl_image_tag @company.photo, height: 150, width: 150, crop: :fill %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="stat2">
          <div class="stat-content ">
            <h3 class="text-center"> <%= link_to new_campaign_path() do %><i class="fa fa-plus fa-2x" aria-hidden="true" style="color: #55A1F4"></i>
            <% end %>
            </h3>
            <p>New campaign</p>
          </div>
        </div>
      </div>
    </div>


</div>
