<% @skip_footer = true %>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="form-sign">
      <h2 class= "text-center cta-header-no-size-form ">Create your investement pattern</h2>

      <h4 class="text-center">Give us your importance, we will manage it for you</h4>

        <%= simple_form_for @input, url: company_input_path(params[:company_id]), method: :patch do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%#= f.hidden_field :path, :value => @path  %>
          <div class="inputs-container">
            <p>Start of the week</p>

            <div class="days-container">
                <%= f.input :monday, required: false, placeholder: 'from 0 to 10' %>
                <%= f.input :tuesday, required: false, placeholder: 'from 0 to 10'%>
                <%= f.input :wednesday, required: false, placeholder: 'from 0 to 10'%>
                <%= f.input :thursday, required: false, placeholder: 'from 0 to 10'%>

            </div>
            <p>End of the week</p>
            <div class="days-container">

                  <%= f.input :friday, required: false, placeholder: 'from 0 to 10'%>
                  <%= f.input :saturday, required: false, placeholder: 'from 0 to 10'%>
                  <%= f.input :sunday, required: false, placeholder: 'from 0 to 10'%>

            </div>
          </div>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Edit company", :class => 'btn-white btn-colored' %>
        </div>
      <% end %>

      </div>

    </div>

  </div>
</div>
