<% @skip_footer = true %>


<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3 form-sign">
      <h2 class= "text-center cta-header-no-size-form">Create you investement pattern</h2>
      <p class="text-center">Give us your importance, we will manage it for you</p>

        <%= simple_form_for @input, url: company_inputs_path(params[:company_id]), method: :post do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%#= f.hidden_field :path, :value => @path  %>
          <%= f.input :monday, placeholder: 'betwen 0 and 100%' %>
          <%= f.input :tuesday, placeholder: 'betwen 0 and 100%'%>
          <%= f.input :wednesday, placeholder: 'betwen 0 and 100%'%>
          <%= f.input :thursday, placeholder: 'betwen 0 and 100%'%>
          <%= f.input :friday, placeholder: 'betwen 0 and 100%'%>
          <%= f.input :saturday, placeholder: 'betwen 0 and 100%'%>
          <%= f.input :sunday, placeholder: 'betwen 0 and 100%'%>

        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Edit company", :class => 'btn-white btn-colored' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
