

<% @skip_footer = true %>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3 form-sign">
      <h2 class= "text-center">Modify your campaign</h2>

        <%= simple_form_for @campaign do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :start %>
          <%= f.input :end %>
          <%= f.input :budget_total %>
          <%= f.input :budget_fb %>
          <%= f.input :target_age_min %>
          <%= f.input :target_age_max %>
          <%= f.input :post_msg %>
          <%= f.input :post_title %>
          <%= f.input :url %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Edit campaign", :class => 'btn-white btn-colored' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
