
<% @skip_footer = true %>



<div class="container text-center margin-around">

  <h1 style="margin-top: 40px; margin-bottom: 80px; color: #60A1F4" class="cta-header-no-size ">All campaigns</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 gocard3">
      <%= link_to new_campaign_path() do %><i class="fa fa-plus fa-5x plus" aria-hidden="true" style="color: #60A1F4"></i> <% end %>
    </div>
  </div>

  <div class="row">

    <% if @campaigns.nil? %>
      <div class="text-center">
        <%= link_to new_campaign_path() do %>
          <i class="fa fa-plus fa-5x" aria-hidden="true" style="color: #60A1F4"></i>
        <% end %>
      </div>


    <% else %>


      <% @campaigns.each do |campaign| %>
        <div class="col-md-6">
          <%= link_to campaign_path(campaign) do %>
            <div class="fb-add">

              <div class="logo-company-1">
                  <%= cl_image_tag campaign.company.photo, :class => 'avatar ',
                  width: 45, height: 45, crop: :fill %>
              </div>

              <h3 class="marque text-left"><%= campaign.company.name %></h3>
              <p class="sponsor text-left">Sponsorised</p>

              <div class="title text-left"> <%= campaign.title %></div>

              <div class="pic">
                <%= cl_image_tag campaign.photo , height: 246, width: 470, crop: :fill %>
              </div>

              <div>
                <h2 class="title-un-pic1 text-left"> <%= campaign.post_title %></h2>
                <p class="p-un-pic text-left"><%= campaign.post_msg %></p>

                <p class="counts text-left">200 Likes 25 Comments 109 Shares</p>
              </div>

              <div >
                <h2 class="interaction-bar text-left"> Likes Comments Share</h2>
              </div>
            </div>
          <% end %>
          <div class="text-center" style="  margin-top: 20px;">
            <%= link_to "Destroy the campaign", campaign_path(campaign),:class => 'btn bouton2', method: :delete %>
            <%= link_to campaign_campaign_days_path(campaign) do %><i class="fa fa-lg fa-calendar"   aria-hidden="true" style="color: #60A1F4; margin: 20px"></i>
              <% end %>

          </div>

        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 gocard3">
      <%= link_to new_campaign_path() do %><i class="fa fa-plus fa-5x plus" aria-hidden="true" style="color: #60A1F4"></i> <% end %>
    </div>
  </div>

</div>

