
<% @skip_footer = true %>



<div class="container text-center margin-around">
<h1>Here are all your campaigns</h1>

  <div class="row">

      <% if @campaigns.nil? %>
        <div class="text-center"> <%= link_to new_campaign_path() do %><i class="fa fa-plus fa-5x" aria-hidden="true" style="color: #55A1F4"></i>
        <% end %>
        </div>

      <% else %>
    <div class="col-xs-12 col-sm-4 gocard">
      <% @campaigns.each do |campaign| %>
        <p><%= campaign.title %></p>
        <p><%= campaign.start %> - <%= campaign.end %></p>
        <p><%= campaign.budget_total %></p>
        <p><%= campaign.budget_remaining %></p>
      <% end %>
    </div>
    <% end %>

    <div class="col-xs-12 col-sm-4 gocard2">

      <%= link_to new_campaign_path() do %><i class="fa fa-plus fa-5x" aria-hidden="true" style="color: #55A1F4"></i> <% end %>


    </div>
  </div>
</div>
