
<% @skip_footer = true %>



<div class="container text-center margin-around">
<h1>Here are all your campaigns</h1>

  <div class="row">

      <% if @campaigns.nil? %>
        <div class="text-center"> <%= link_to new_campaign_path() do %><i class="fa fa-plus fa-5x" aria-hidden="true" style="color: #55A1F4"></i>
        <% end %>
        </div>

      <% else %>
        <% @campaigns.each do |campaign| %>
          <%= link_to campaign_path(campaign) do %>
            <div class="col-xs-12 col-sm-4 gocard text-center">
              <h3><%= campaign.title %></h3>
              <p><%= campaign.start %> - <%= campaign.end %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <div class="col-xs-12 col-sm-4 gocard2">

      <%= link_to new_campaign_path() do %><i class="fa fa-plus fa-5x" aria-hidden="true" style="color: #55A1F4"></i> <% end %>


    </div>
  </div>
</div>
