
<% @skip_footer = true %>
<div class="campaigns-stat-header text-center">
  <div class="metrics-block">
    <div class="campaigns-metrics-numbers">
      <% i = 0 %>
      <% @campaigns.each do |campaign| %>
        <% i += campaign.budget_total %>
      <% end %>
      <p>€<%= i / 100 %>.<%= i % 100 %></p>
    </div>
    <div class="campaigns-metrics-label">
      <p>invested</p>
    </div>
  </div>
  <div class="metrics-block">
    <div class="campaigns-metrics-numbers">
      <% i = 0 %>
      <% @campaigns.each do |campaign| %>
        <% i += campaign.cpc.to_f %>
      <% end %>
      <p>€<%= i.round(2) %></p>
    </div>
    <div class="campaigns-metrics-label">
      <p>CPC</p>
    </div>
  </div>
  <div class="metrics-block">
    <div class="campaigns-metrics-numbers">
      <% i = 0 %>
      <% @campaigns.each do |campaign| %>
        <% i += campaign.cpm.to_i %>
      <% end %>
      <p><%= i %></p>
    </div>
    <div class="campaigns-metrics-label">
      <p>CPM</p>
    </div>
  </div>
  <div class="metrics-block">
    <div class="campaigns-metrics-numbers">
      <% i = 0 %>
      <% @campaigns.each do |campaign| %>
        <% i += campaign.post_engagements.to_i %>
      <% end %>
      <p><%= i %></p>
    </div>
    <div class="campaigns-metrics-label">
      <p>engagements</p>
    </div>
  </div>
  <div class="metrics-block">
    <div class="campaigns-metrics-numbers">
      <% i = 0 %>
      <% @campaigns.each do |campaign| %>
        <% i += campaign.btn_click.to_i %>
      <% end %>
      <p><%= i %></p>
    </div>
    <div class="campaigns-metrics-label">
      <p>button clicks</p>
    </div>
  </div>
</div>

<div class="container text-center margin-around">
  <div class="row">

    <% if @campaigns.nil? %>
      <div class="text-center">
        <%= link_to new_campaign_path() do %>
          <i class="fa fa-plus fa-5x" aria-hidden="true" style="color: #60A1F4"></i>
        <% end %>
      </div>

    <% else %>

      <% @campaigns.each do |campaign| %>
        <div class="col-md-4">
          <%= link_to campaign_path(campaign) do %>
            <div class="fb-add">

              <div class="logo-company-1">
                  <%= cl_image_tag campaign.company.photo, :class => 'avatar ',
                  width: 45, height: 45, crop: :fill %>
              </div>
              <h3 class="marque text-left"><%= campaign.company.name %></h3>
              <p class="sponsor text-left">Sponsored</p>
              <div class="title text-left" style="color: black"> <%= campaign.title %></div>
              <div class="pic">
                <%= cl_image_tag campaign.photo , height: 180, width: 340, crop: :fill %>
              </div>
              <div>
                <h2 class="title-un-pic1 text-left"> <%= campaign.post_title %></h2>
                <p class="p-un-pic text-left"><%= campaign.post_msg %></p>
                <% likes = (0..5) %>
                <% shares = (150..220) %>
                <% comments = (0..1) %>
                <p class="counts text-left" style="color: #9197A3"><%= "#{rand(likes)} Likes #{rand(comments)} Comment 0 Shares" %></p>
              </div>
              <div >
                <h2 class="interaction-bar text-left" style="color: #7F7F7F; font-weight: bold"> 100 Likes 80 Comments 34 Share</h2>
              </div>

                <div class="actions">
                  <%= link_to campaign_path(campaign), method: :delete do %>
                    <i class="fa fa-lg fa-trash-o" style="color: $blue; margin: 10px"></i>
                  <% end %>
              <% if campaign.end > Date.today %>
                <%= link_to campaign_campaign_days_path(campaign) do %>
                  <i class="fa fa-lg fa-calendar"   aria-hidden="true" style="color: $blue;"></i>
                <% end %>
              <% end %>
                </div>

            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-md-4">
          <%= link_to new_campaign_path(), class: "fb-more" do %><i class="fa fa-plus fa-5x plus" aria-hidden="true"></i> <% end %>
      </div>
    <% end %>
  </div>
</div>


