<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 form-sign">
      <h1>Create your campaign !</h1>
        <%= simple_form_for @campaign do |f| %>
          <%= f.input :title %>
          <%= f.input :start %>
          <%= f.input :end %>
          <%= f.input :budget_total %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>

