

<% @skip_footer = true %>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3 form-sign">
      <h2 class= "text-center cta-header-no-size" style="color: #55A1F4">Create your campaign !</h2>


      <%= simple_form_for @campaign do |f| %>
        <%= f.error_notification %>


        <div class="form-inputs" style="margin-top: 60px">
          <%= f.input :title, label: "Description" %>
          <%= f.input :start %>
          <%= f.input :end %>
          <%= f.input :budget_total, as: :string, label: "Weekly budget" %>
          <%= f.input :post_title %>
          <%= f.input :post_msg, label: "Post content" %>
          <%= f.input :photo, label: "Add a picture" %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :display, as: :boolean, label: false, inline_label: "Also display on my Facebook page" %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "create campaign", :class => 'btn-white btn-colored' %>

        </div>
      <% end %>
     </div>
  </div>
</div>


