<% @skip_footer = true %>

<div class="container">
  <div class="row">
    <div class="col-md-6 form-sign box-shadow">
      <h2 class= "text-center cta-header-no-size" style="color: #60A1F4">Create your campaign!</h2>


      <%= simple_form_for @campaign do |f| %>
        <%= f.error_notification %>


        <div class="form-inputs" style="margin-top: 60px">
          <%= f.input :title, label: "Description" %>
          <%= f.input :start, as: :string, input_html: {id: "start_date"} %>
          <%= f.input :end, as: :string, input_html: {id: "end_date"} %>
          <%= f.input :budget_total, as: :string, label: "Budget to be spent" %>
          <%= f.input :post_title %>
          <%= f.input :post_msg, label: "Post content" %>
          <div class="photo-container">
            <%= f.label :photo do %>
              <i class="fa fa-lg fa-cloud-upload" aria-hidden="true"></i>
              Add a picture
            <% end %>
            <%= f.input :photo, label: false %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <%= f.input :display, as: :boolean, label: false, inline_label: "Also display on my Facebook page" %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "create campaign", :class => 'btn-white btn-colored' %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">

      <div class="fb-add-2">

        <div class="logo-company-1">
          <%= cl_image_tag @company.photo, :class => 'avatar ',
          width: 45, height: 45, crop: :fill %>
        </div>

        <h3 class="marque text-left" > <%= @company.name %></h3>
        <p class="sponsor text-left">Sponsored</p>
        <div class="title text-left" style="color: black" id="fb-show-title"> </div>
        <div class="pic-empty">
          <%= cl_image_tag("ubereats_main_1493714644355_p1tnrn.jpg", width: 340, height: 180) %>
        </div>
        <div>
          <h2 class="title-un-pic1 text-left" id="title-pic-fb"> </h2>
          <p class="p-un-pic text-left" id="content-pic-fb"></p>

          <% likes = (0..5) %>
          <% shares = (150..220) %>
          <% comments = (0..1) %>
          <p class="counts text-left" style="color: #9197A3"><%= "#{rand(likes)} Likes #{rand(comments)} Comment 0 Shares" %></p>
        </div>
        <div >
          <h2 class="interaction-bar text-left" style="color: #7F7F7F; font-weight: bold"> 100 Likes 80 Comments 34 Share</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<i class="fa fa-cloud-upload" aria-hidden="true"></i>
